body {
    background-color: #F0F0F0;
    font-family: Arial, sans-serif;
}

.video-container {
    display: flex;
}

.video-background {
    flex: 1;
    padding: 5px;
    border: 5px solid #007BFF;
    border-radius: 10px;
    margin-right: 10px; /* Added margin to separate the videos */
    height:60vh;
}

.blue-button {
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blue-button:hover {
    background-color: #0056b3;
}

.button-group {
    margin: 5px 0;
}

button[disabled] {
    background-color: #ccc;
    color: #888;
}

input[type="number"] {
    width: 80px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.button-container {
    margin-right: 20px;
    margin-top: 10px; 
    margin-left: 10px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-container p {
    font-size: 16px;
    margin: 5px 0;
}
